body{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.container{
    position: relative;

}

.om{
    position: absolute;
    top: 57px;
    left: 82px;
    width: 130px;
    height: 59px;
    outline: none;
    font-size: 56px;
    text-align: center;
}

.button{
    position: absolute;
    top: 158px;
    left: 104px;
    height: 105px;
    width: 105px;
    border-radius: 50%;
    border: none;
    background-color: rgb(6, 145, 96);
}

.button:active{
    width: 100.5px;
    height: 100.5px;
    
}

.remove{
    position: absolute;
    top: 124.5px;
    left: 185.4px;
    height: 23.4px;
    width: 23.4px;
    border-radius: 50%;
    border: none;
    background-color: rgb(241, 18, 18);
}

.remove:active{
    width: 30.5px;
    height: 30.5px;

}

